@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 91% 4%;
    --foreground: 0 0% 100%;
    --primary: 207 95% 8%;
    --primary-foreground: 210 22% 48%;
    --secondary: 233 57% 55%;
    --secondary-foreground: 0 9% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --warning: 26 99% 68%;
    --warning-foreground: 0 0% 0%;
    --success: 162 66% 56%;
    --success-foreground: 0 0% 0%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --light-orange: 7 69% 72%;
    --border: 211 34% 18%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
}

html {
  box-sizing: border-box;
  background-color: var(--background);
}

body {
  background-color: var(--background);
}